.list-group-item.active {
    background-color: #e9ecef;
    color: inherit;
    border-color: gray
}

::placeholder {
    color: gray !important;
    font-size: 16px
}

.form-control {
    border-color: #444444;
    height: 60px;
    border-radius: 30px;
    padding: 20px;
    color: #222;
}

.form-control:hover {
    border: 2px solid #444444;
    padding: 19px;
}

.form-control:focus {
    box-shadow: none;
    padding: 19px;
    border: 2px solid #553c8b;
}